[Unit]
Description=Security Cam Guardian Service
Before=display-manager.service

[Service]
ExecStart=/ruta/al/proyecto/bin/cam-guardian
Restart=always
User=root

[Install]
WantedBy=multi-user.target